/*the input animations*/
.inp-area input {
  padding-top: 20px;
  height: 50px;
  width: 350px;
  border: none;
  outline: none;
  background-color: #dee3f5;
  border-bottom: 3px solid black;
}

.inp-area label {
  position: absolute;
  bottom: 3px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.inp-area label::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid #668cf6;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}

.inp-area span {
  position: absolute;
  bottom: 5px;
  left: 0;
  color: black;
  transition: all 0.3s ease;
}

.inp-area input:focus + label span {
  color: #668cf6;
  transform: translateY(-90%);
}
.inp-area input:valid + label span {
  transform: translateY(-90%);
}

.inp-area input:focus + label::after {
  transform: translateX(0);
}

#text-typing {
  padding-left: 1%;
  position: relative;
}

/*typing effect animation*/
#text-typing::after {
  content: "";
  position: absolute;
  top: 10%;
  height: 90%;
  width: 3px;
  background-color: white;
  animation: typing 0.8s ease infinite;
}

@keyframes typing {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*menu animations*/

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.hamburger .hamb-rect {
  width: 100%;
  height: 20%;
  background-color: #dee3f5;
  transition: all 0.5s ease;
  transform-origin: center center;
}

/*social medias icons animations*/
.home svg {
  overflow: visible;
}

#github-icon {
  animation: shaking 3s linear infinite;
}

#facebook-icon {
  animation: shaking 3s linear 0.2s infinite;
}
#twitter-icon {
  animation: shaking 3s linear 0.4s infinite;
}

#linkedin-icon {
  animation: shaking 3s linear 0.6s infinite;
}

@keyframes shaking {
  0% {
    transform: translateY(0%);
  }

  5% {
    transform: translateY(-2%);
  }
  10% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(0%);
  }
}