//colors
$grayish: hsl(204,5,45);
$lightColor: hsl(204,98,98);
$darkColor: hsl(204,98,15);
$darkerColor: hsl(204,98,10);
$lightBlue: hsl(204,98,45);
$lighterBlue: hsl(204,98,85);

//font sizes
$font-xlg: 2rem;// 32px
$font-lg: 1.5rem;// 24px
$font-med: 1.25rem;// 20px
$font-sm: 1rem;

//breakpoints
$breakpoints-up: (
  "medium": "40em",
  "large": "64em",
  "xlarge": "87.5em",
);

// 639px, 1023px, 1399px
$breakpoints-down: (
  "xsmall": "450px",
  "small": "39.9375em",
  "medium": "63.9375em",
  "large": "87.4375em",
);

@mixin breakpoint-up($size) {
  @media (min-width: map-get($breakpoints-up, $size)) {
    @content;
  }
}

@mixin breakpoint-down($size) {
  @media (max-width: map-get($breakpoints-down, $size)) {
    @content;
  }
}

@mixin breakpoint-browser-shrinking($size){
  @media (min-width: map-get($breakpoints-down, $size)) and (max-height: 460px){
    @content;
  }
}

//mixins
@mixin justify($val) {
  display: flex;
  align-items: center;
  justify-content: $val;
}

//animations
@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  display: block !important;
  opacity: 0;
  animation: fade-in 300ms ease-in-out forwards;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fade-out {
  display: block !important;
  opacity: 1;
  animation: fade-out 300ms ease-in-out forwards;
}

@keyframes fade-elems {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@for $i from 1 through 5 {
  .fade-in {
    > nav {
      > .nav-link:nth-child(#{$i}) {
        opacity: 0;
        animation: fade-elems 300ms ease-in-out (100ms * $i) forwards;
      }
    }
  }
}