.contact {
  &__form {
    width: 30rem;
    margin: 4rem auto;

@include breakpoint-down(small){
  width: 100%;
}

    &__title {
      color: $lightColor;
      text-align: center;
      opacity: 0.8;
    }

    &__input {
      position: relative;
      margin-top: 2rem;

      > input {
        height: 2.5rem;
      }
      > textarea {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        height: 6rem;
      }

      > input,
      textarea {
        width: 100%;
        padding-left: 2rem;

        background: none;
        color: $lightColor;
        border: 1px solid $lightColor;
        border-radius: 5px;
        outline: none;

        &:focus {
          border-color: $lightBlue;
        }
      }

      input:focus + label svg path,
      textarea:focus + label svg path {
        fill: $lightBlue;
      }
    }

    &__label {
      pointer-events: none;
      position: absolute;
      left: 0.5rem;

      > svg {
        width: 1.25rem;
        height: 1.25rem;
      }

      &.for--input {
        top: 50%;
        transform: translateY(-50%);
      }

      &.for--textarea {
        top: 0.5rem;
      }
    }

    > button {
        border-radius: 5px;
      margin-top: 2rem;
      width: 100%;
      height: 2.5rem;

      font-size: 1.25rem;
    }
  }

  &__social {
    width: 12rem;
    padding: 3rem 0 0.5rem;
    margin: auto;
    @include justify(space-between);
  }

  &__link {
    width: fit-content;
    height: fit-content;
    svg {
      width: 3rem;
      height: 3rem;

      > path {
        fill: $lightColor;
        opacity: 0.6;
      }
    }

    &.linkedin:hover {
      path {
        fill: #0077b5;
      }
    }

    &.github:hover {
      path {
        fill: #4078c0;
      }
    }

    &.instagram:hover {
      path {
        fill: #c13584;
      }
    }
  }
}
