.hero {
  @include justify(space-between);
  height: 100%;
  color: $lightColor;

  &__content {
    @include breakpoint-up(large) {
      padding-right: 4rem;
    }

    h1 {
      font-size: $font-xlg;
      margin-bottom: 1.25rem;
    }

    p {
      font-size: $font-sm;
      margin-bottom: 3.75rem;
      opacity: 0.7;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        background-image: url("/images/smile-emoji.svg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 1rem;
        height: 1rem;
        bottom: 0;
        margin-left: 5px;
      }
    }
  }

  &__cta {
    width: 12.5rem;
    height: 3.125rem;
    font-size: $font-lg;

    @include justify(center);
  }

  &__image {
    width: 35rem;

    > img {
      width: 100%;
    }
  }

  @include breakpoint-down(medium) {
    flex-direction: column-reverse;
    align-items: start;
    justify-content: center;

    &__image{
      margin-top: 1.5rem;
      width: 30rem;
    }

    &__content {
      padding-top: 3.5rem;
    }
  }

  @include breakpoint-down(small){
    &__image{
      width: 100%;
    }

    &__content{
      p{
        margin-bottom: 2rem;
      }
    }
  }
}
