.skills {
  &__content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    margin: 3rem auto;
    width: fit-content;

    @include breakpoint-down(small){
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      gap: 1rem
    }
  }

  &__item {
    @include justify(center);
    flex-direction: column;
    font-size: 1rem;
    color: $lightColor;
    margin-right: 2rem;

    > p {
      opacity: 0.8;
    }
  }

  &__img {
    width: 3.5rem;
    object-fit: cover;
  }
}

//color for the skills images
.fa-html5 {
  color: #e44d26;
}

.fa-css3-alt {
  color: #0277bd;
}

.fa-js-square {
  color: #f7df1e;
}

.fa-react {
  color: #61dafb;
}

.fa-sass {
  color: #cc6698;
}
