.skills {
  &__content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    margin: 3rem auto;
    width: fit-content;

    @include breakpoint-down(small){
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      gap: 1rem
    }
  }

  &__item {
    @include justify(center);
    flex-direction: column;
    font-size: $font-sm;
    font-weight: 600;
    color: $darkColor;
    margin-right: 2rem;
  }

  &__img {
    width: 3.5rem;
    object-fit: cover;
  }
}